:root {
    --primary: #FFE468;
    --secondary: #FFE468;
    --light: #F2F2F2;
    --black: #111111;
    --light: rgb(40, 39, 46);
}

body {
    background-color: aliceblue(--light);
}

.navbar-light .navbar-nav .nav-link {
    position: relative;
    margin-left: 30px;
    padding: 35px 0;
    font-size: 18px;
    color: var(--dark);
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 0;

}

.nav-link {
    color: #000 !important;
    font-size: 20px;
    font-weight: 600;
}


.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary) !important;
    border-bottom: 2px solid var(--primary) !important;
}


.logo {
    height: 80px;
    width: 250px;
}

.head-section {
    background-color: var(--primary);
    margin: 0%;
}

/* responsive */
.archivers-section h3 {
    font-size: 40px;
    text-align: center;
    color: rgb(8, 8, 8);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.archivers-section h5 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #202020;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 10px;
}

.team-item {
    position: relative;
    margin-bottom: 10px;
}

.team-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* text-align: center; */
    background-color: rgba(53, 53, 54, 0.7);
    height: 100%;
    width: 100%;
    color: #fdfdfd;
    font-weight: 500;
    line-height: 80%;
    padding: 0 10px;
    bottom: -45px;
    transition: .5s;
    z-index: 1;
    opacity: 0;
}

.team-item:hover .team-text {
    padding-top: 20px;
    bottom: 0;
    opacity: 1;
}

.form {
    position: relative;
    z-index: 1;
    margin: 0 auto 100px;
    padding: 50px 25px;
    margin: 70px 0;
    text-align: center;
    background-color: white;
    border-radius: 0px;
}

.form input[type="text"],
.form input[type="password"],
.form input[type="number"],
.form input[type="email"],
.form select {
    font-family: 'Roboto', sans-serif;
    outline: none;
    width: 100%;
    border: 0;
    margin: 0 0 5%;
    padding: 5%;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgba(228, 235, 172, 0.7);
}

.form button {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    outline: none;
    background-color: #ecbd46;
    width: 100%;
    border: 0;
    padding: 20px;
    color: #FFFFFF;
    font-size: 18px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-radius: 20px;
}

.form button:hover,
.form button:active,
.form button:focus {
    background-color: var(--primary);
    box-shadow: 0px 3px 10px #d9d1d1;
}

.form h2 {
    color: #333333;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 0 30px;
}

/* country section */
.owl-theme .owl-nav {
    display: none;
}

.country-section h2 span,
.Service-section h6 span,
.Scollarship-section h5 span,
.Scollarship-section h3 span {
    border-bottom: 3px solid var(--primary);
}

.country-section h2,
.Service-section h6,
.Scollarship-section h5,
.Scollarship-section h3 {
    text-align: center;
    font-size: 40px;
    padding: 20px;
    font: sans-serif;
    font-weight: 600;
}

.Scollarship-section {
    padding: 30px;
}

.Scollarship-section h6 {
    padding: 20PX 0PX;
    text-align: left;
    font-size: 28px;
    text-shadow: #ecbd46 2px 2px;
}

.Scollarship-section span {
    font: sans-serif;
    text-align: left;
    /* padding: 10px; */
    color: #000;

}

.Scollarship-section .nav button {
    text-align: left;
}

.Scollarship-section .box-section {
    /* padding: 20px !important; */
    box-shadow: #afaeae 0px 3px 10px;

}

.Scollarship-section ul {
    padding: 10px;
    list-style: circle;
    font-style: italic;
}

.Scollarship-section .nav {
    padding: 20px;
    background-color: rgb(165, 165, 137);
    border-right: #000 2px solid;
}

.Scollarship-section .tab-content {
    padding-top: 10px;
}

.Scollarship-section li {
    color: #000;
}

.country-section img {
    height: 200px !important;
    width: 200px !important;
    margin: 20px;
}

.country-section .items h5 {
    color: #000 !important;
    font-size: 30px !important;
    font-weight: 600;
}

.country-section p {
    color: #242323;
    font-size: 15px;
}

.country-section .content-body {
    background-color: rgb(244 242 224);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 50px;
}

.country-section .item {
    box-shadow: 0px 3px 10px #d9d1d1;
    padding: 0%;
    border-radius: 25px;
    /* margin: 1px; */
    width: 90%;
    height: 90%;
    margin-bottom: 70px;
}

.country-section .owl-carousel h3 {
    font-size: 30px;
    color: rgb(151, 63, 63);
    text-align: center;
    align-self: center;
}

.btn-sm-square {
    width: 28px;
    height: 28px;
}

.btn-lg-square {
    width: 46px;
    height: 46px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}



.service-item {
    background-color: var(--primary);
    background-size: cover;
    transition: .5s;
}

.service-item:hover {
    background-color: black;
    background-size: cover;
}

.service-item .service-icon {
    margin-top: -50px;
    width: 100px;
    height: 100px;
    color: black;
    background: #FFFFFF;
    transform: rotate(-45deg);
}

.service-item .service-icon div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary);
    transition: .5s;
}

.service-item .service-icon i {
    transform: rotate(45deg);
    transition: .5s;
}

.service-item:hover .service-icon div {
    background: black;
}

.service-item:hover .service-icon i {
    color: var(--primary);
}

.service-item:hover a.btn {
    bottom: 0;
    opacity: 1;
}

.service-item:hover h3 {
    color: var(--primary);
}

.bg-quote {
    background: url(../img/quote.jpg) top right no-repeat;
    background-size: contain;
}

/* servives */
.contain {
    align-items: center;
    width: 100%;
}

.contain img {
    height: 180px;
    width: 180px;
}

.owl .element.style {
    width: 0px !important;
    margin-right: 0px !important;
}

.owl-carousel .owl-stage {
    margin-bottom: 30px;
}

.owl-theme .owl-dots {
    display: none;
}

.archivers-section .owl-carousel .owl-stage {
    margin-bottom: 0px;
}

.Service-section img {
    height: 50%;
    width: 75%;
    margin: 0px;
}


.navbar-toggler:focus {
    box-shadow: none;
}

.Service-section .nav {
    display: flex;
    justify-content: space-evenly;
}

.Service-section .nav .nav-item button {
    color: #222020;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;

}

.nav-pills .nav-link.active {
    color: var(--primary) !important;
    background-color: transparent;
    border-bottom: 4px solid var(--primary) !important;
    border-radius: 0%;
}

.fa-heart {
    color: red !important;
}

@media (max-width: 991.98px) {
    .bg-quote {
        background-size: cover;
    }

    .bg-call-to-action,
    .bg-footer {
        background-size: cover;
    }

    .navbar-light .navbar-nav .nav-link {
        margin-left: 0;
        padding: 10px 0;
    }
}

@media (max-width: 425px) {
    .archivers-section h5 {
        font-size: 15px;
    }

    .archivers-section .contain img {
        height: 300px;

    }

    .Scollarship-section h6 {
        /* padding: 20PX 0PX; */
        text-align: left;
        font-size: 18px;
        text-shadow: #ecbd46 2px 2px;
    }

    .logo {
        height: 80px;
        width: 225px;
    }

    .px-4 {
        padding-left: 0px !important;
    }

    .archivers-section h3 {
        font-size: 20px;
    }

    .country-section h2,
    .Service-section h6 {
        font-size: 30px;

    }

    .Scollarship-section .nav {
        padding: 0px !important;
    }

    .nav-link {
        font-size: 12px !important;
    }

    .tab-content ul li {
        font-size: 10px !important;
    }

    .Scollarship-section h5 span,
    .Scollarship-section h3 span {
        font-size: 14px;
    }

    .Service-section .nav .nav-item button {
        font-size: 20px;
        padding: 10px;
    }

    .Service-section .nav button {
        font-size: 13px !important;
    }

}

@media (min-width: 992px) {
    .navbar-light .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 5px;
        bottom: 0;
        left: 50%;
        background: var(--primary);
        transition: .5s;
    }

    .navbar-light .navbar-nav .nav-link:hover::before,
    .navbar-light .navbar-nav .nav-link.active::before {
        width: 100%;
        left: 0;
    }
}

#home {
    padding: 30px 0;
}

.text-primary1 {
    color: var(--primary) !important;
}

.navbar {
    background-color: #fff !important;
}

.team-text p {
    margin-top: 0;
    margin-bottom: 5px;
    word-wrap: break-word;
    word-break: break-all;
    margin-bottom: 1rem;
    line-height: 20px;
}

.heading_45 {
    font-size: 35px;
    color: var(--primary) !important;
}

.heading_35 {
    font-size: 25px;
    color: var(--primary) !important;
}